APP_NAME=notification-service
APP_HOST=0.0.0.0
APP_PORT=8007
MONGODB_URL=mongodb+srv://kavishavoshan_db_user:V6QqPThpSamGli5t@cluster0.lrqeavh.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=notification_db
AUTH_SECRET_KEY=my-shared-secret-123
