APP_NAME=payment-service
APP_HOST=0.0.0.0
APP_PORT=8004
MONGODB_URL=mongodb+srv://kavishavoshan_db_user:V6QqPThpSamGli5t@cluster0.lrqeavh.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=payment_db
