APP_NAME=user-service
APP_HOST=0.0.0.0
APP_PORT=8001
MONGODB_URL=mongodb+srv://kavishavoshan_db_user:V6QqPThpSamGli5t@cluster0.lrqeavh.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=user_db
AUTH_SECRET_KEY=replace-with-a-long-random-secret
AUTH_ACCESS_TOKEN_EXPIRE_MINUTES=60
PASSWORD_HASH_ITERATIONS=210000
